target/
lib_managed/
project/target/
project/plugins/lib_managed/
project/plugins/src_managed/
.*
!/.gitignore
.settings/

# Ignore files changed when test run
src/test/scala/com/aidan/chapter9/myfile.txt
src/test/scala/com/aidan/chapter9/mypowersfile.txt